.senDinamica{
  display: flex;
  justify-content: center;
  align-items: center;}

.margin{
  display: inline-block;
}
.buscador{
  margin-left: 2%
}

.buscador > input {
  width: 200px;
  height: 25px;
  border-color: black;
  border-radius: 10px;
  font-size: 17px
}