@import url('https://fonts.googleapis.com/css?family=Lato');

.senDinamica{
  display: flex;
  justify-content: center;
  align-items: center;}

.margin{
  display: inline-block;
}
.buscador{
  margin-left: 2%
}

.buscador > input {
  width: 200px;
  height: 25px;
  border-color: rgb(150, 150, 150);
  border-radius: 10px;
  font-size: 17px
}
.imagenDinamicaDetail{
  background-color: yellow;
  color: black
}
.buttonDinamicasDetalle{
  background-color: rgb(0, 0, 155);
  color: white;
  font-family: 'Lato';
  height: 30px;
  width: 90px;
  border-radius: 30%
}
.chipDinamica{
  margin-right: 10%
}
.botonInfoDinamicas{
  color: white;
  background-color: blue
}

.botonDinamicaEditar{
  background-color: rgb(0, 140, 196);
  color: white;
  font-family: 'Lato';
  height: 30px;
  width: 90px;
  border-radius: 30%;
  font-size: .9rem
}
.botonDinamicaBorrar{
  background-color: rgb(238, 0, 0);
  color: white;
  font-family: 'Lato';
  height: 30px;
  width: 90px;
  border-radius: 30%;
  font-size: .9rem
}