.img{
  max-width: 600px;
  min-width: 400px;
  max-height: 400px;
  min-height: 300px
}
.reportDinamicDetailHijo{
    float: left
}
.bDetalleCreador{
  background-color: rgb(255, 255, 127);
  color: black
}
.modalidadReporte{
  background-color: yellow
}
.chipCentroReporte{
  margin-bottom: 20px
}