.padreDetail {
  display: flex;
  justify-content: center;
}
.hijoDetail {
  padding: 10px;
  margin: 10px;
}

.span{
  font-size: 1.2rem
}
.b {
  font-size: 1.2rem;
  background-color: yellow
}
.imagenEvidenciaDetail{
  max-width: 550px;
  max-height: 400px
}
.buscadorEvidencias{
  margin-left: 2%;
}

.buscadorEvidencias > input {
  width: 220px;
  height: 25px;
  border-color: black;
  border-radius: 10px;
  font-size: 14px
}