

.padreLogin{
  background-color: rgb(218, 218, 218);
  width: 100vw;
  height: 100vh
}
.paper {
  width: 35vw;
  margin: auto;
  text-align: center;
  margin-top: 7%
}
.icon{
  margin-top: 13px;
  width:100px;
}
.linkReg{
  text-decoration: none;
}

.paperSignup{
  width: 35vw;
  margin: auto;
  text-align: center;
  margin-top: 4%
}
.contraseñaOlvidada{
  font-size: 0.8rem;
  color: rgb(61, 145, 255)
}
