




.padreLogin{
  background-color: rgb(218, 218, 218);
  width: 100%;
  height: 100vh
}
.paper {
  width: 35vw;
  margin: auto;
  text-align: center;
  margin-top: 10%
}
.hijoPaper{
  margin-bottom: 10%
}
.icon{
  margin-top: 13px;
  width:100px;
}
.linkReg{
  text-decoration: none;
}
